<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" mapTestClassNameToCoveredClassName="true" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="fXmlRpc Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" title="functional-php code coverage"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
</phpunit>
