<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" mapTestClassNameToCoveredClassName="true" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="fXmlRpc Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
</phpunit>
